@model test.Models.seller

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>seller</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.seller_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.seller_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>
    
            <dt>
            </dt>
    
            <dd>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone_number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone_number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.join_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.join_date)
            </dd>
    
            <dt>
            </dt>
    
            <dd>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.city.City_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.city.City_Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.seller_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
