@using test.Models
@model LoginViewModel



@{
    Layout = null;
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sign in & Sign up Form</title>
<link href="~/assets/css/login1.css" rel="stylesheet" />

<main >
    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " sign-in-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="logo">
                        <h4>Silvana</h4>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="heading">
                        <h2>Welcome Back</h2>
                        <h6>Not registred yet?</h6>
                        <a href="~/account/register" class="toggle">Sign up</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "input-field", minlength = "4" })
                            <label>Email</label>
                        </div>


                        <div class="input-wrap">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            @Html.PasswordFor(m => m.Password, new { @class = " input-field" });
                            <label>Password</label>
                        </div>


                        <input type="submit" value="Sign In" class="sign-btn" />
                        <br />
                        <div class="input-wrap">

                            @*@Html.Partial("_ExternalLoginsListPartial", new test.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@

                            <label>Password</label>
                        </div>
                        <p class="text">
                            Forgotten your password or you login datails?
                            <a href="#">Get help</a> signing in
                        </p>
                    </div>



                }




            

            </div>


            <div class="carousel">
                <div class="images-wrapper">
                    <img style="width: 510px; height: 385px " src="~/assets/images/products/login.png" class="image img-1 show" alt="" />
                    <img style="width: 510px; height: 385px " src="~/assets/images/products/login2.png" class="image img-2  " alt="" />
                    <img style="width: 510px; height: 385px " src="~/assets/images/products/login3.png" class="image img-3" alt="" />
                </div>

                <div class="text-slider">
                    <div class="text-wrap">
                        <div class="text-group">
                            <h2>Welcome to the family Silvana </h2>
                            <h2>Customize as you like</h2>
                            <h2>Great discounts</h2>
                        </div>
                    </div>

                    <div class="bullets">
                        <span class="active" data-value="1"></span>
                        <span data-value="2"></span>
                        <span data-value="3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>




<script src="~/assets/js/app.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/assets/js/app.js"></script>